* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.background {
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgb(74, 165, 201);
  transform-origin: top left;
  transform: skewY(-13deg);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

main {
  position: relative;
}

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .img {
  height: 80%;
  position: relative;
}

.header .img img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.header .img h1 {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
}

.header .about {
  width: 60%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  padding: 50px 30px;
  flex-direction: column;
  gap: 20px;
}

.header p {
  font-size: larger;
  font-family: sans-serif;
  line-height: 26px;
  color: gray;
}

.header .links {
  gap: 5px;
  display: flex;
  justify-content: flex-end;
}

.header .links img {
  height: 24px;
  width: 24px;
}

@media (max-width: 992px) {
  .header {
    padding-top: 50px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header .img {
    height: auto;
    width: auto;
    display: flex;
    align-items: flex-end;
  }
  .header .img img {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: contain;
  }
  .header .about {
    width: auto;
  }
}

section.portfolio {
  padding: 50px 0;
}

section.portfolio h1 {
  margin-bottom: 20px;
}

section.portfolio .projects {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}

section.portfolio .projects .project {
  width: calc((100% - 40px) / 3);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 250px;
  border-radius: 5px;
  justify-content: space-between;
  padding-bottom: 15px;
}

section.portfolio .projects .project .img {
  width: 100%;
  height: 130px;
  background-color: black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

section.portfolio .projects .project h3 {
  padding: 0 15px;
}

section.portfolio .projects .project p {
  padding: 0 15px;
  font-size: small;
  font-family: sans-serif;
  color: gray;
}

@media (max-width: 992px) {
  section.portfolio .projects .project {
    width: calc((100% - 20px) / 2);
  }
}

@media (max-width: 404px) {
  section.portfolio .projects .project {
    width: 100%;
  }
}

footer {
  padding: 50px 0;
  background-color: rgb(74, 165, 201);
}

.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer .img {
  max-width: 400px;
  width: 50%;
}

.footer .img img {
  width: 100%;
}

.footer .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 30px;
  color: white;
}
